.create-new-btn{
    text-align: center;
    text-decoration: none;
    background-color: #4e73df;
    color: white;
    height: 35px;
    padding: 5px 10px;
    min-width: 100px;
    border-radius: 5px;
}
.create-new-btn:hover{
    color: white;
    background-color: #0a53be;
    text-decoration: none;
}
.contact-btn{
    text-align: center;
    text-decoration: none;
    background-color: #4e73df;
    color: white;
    height: 35px;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
    border: none;
}
.contact-btn:hover{
    color: white;
    background-color: #0a53be;
    text-decoration: none;
}
.btn-save{
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    min-width: 60px;
    border-radius: 5px;
    margin: 0 5px;
    border: none;
    background-color: #2f2f2f;
    height: 35px;
}
.btn-save:hover{
    color: white;
    background-color: #656565;
    text-decoration: none;
}
.contact-form .col-md-6{
    padding: 10px !important;
}
.contact-form .form-group{
    margin-bottom: 5px;
}
.contact-form .form-group label{
    font-weight: 500;
    color: #6e6e6e;
}
.contact-delete{
    text-align: center;
    text-decoration: none;
    color: white;
    height: 35px;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
    border: none;
    background-color: #ff7171;
}
.contact-delete:hover{
    color: white;
    background-color: #3b3b3b;
    text-decoration: none;
}
.contact-form .req{
    color: #ed4747;
}
.registration_form input {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
}
.setpassword_form input {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
}
.btn-user{
    font-size: .8rem !important;
    border-radius: 10rem !important;
    padding: 0.75rem 1rem !important;
}
